<div id="mobile-navigation">
    <button id="nav-toggle" class="collapsed" data-toggle="collapse" data-target="#page-sidebar"><span></span></button>
</div>
<div id="page-sidebar">
    <div id="header-logo" class="logo-bg">
        <a href="index.html" class="logo-content-big" title="DelightUI">
            Delight <i>UI</i>
            <span>Material Design Dashboard Template</span>
        </a>
        <a href="index.html" class="logo-content-small" title="DelightUI">
            Delight <i>UI</i>
            <span>Material Design Dashboard Template</span>
        </a>
        <a id="close-sidebar" href="#" title="Close sidebar">
            <i class="glyph-icon icon-outdent"></i>
        </a>
    </div>
    <div class="scroll-sidebar">
        {{> admin-navigation  }}
    </div>
</div>